// === variables ====
$dark: #1e1e1e;


$bgColor: #1e1e1e;

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Raleway');


*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: url("../img/restaurant.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

// ===== grid =====
.container {
  display: grid;
  max-width: 1024px;
  margin: 0 auto;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 4rem 1fr;
  grid-template-areas: "welcome nav"
    " welcome main";
}

.main {
  height: 100%;
}

.welcome {
  grid-area: welcome;
}

nav {
  grid-area: nav;
  height: 3.8rem;
  font-family: 'Raleway', sans-serif;

  & ul {
    margin-top: 2rem;
  }

  & ul li {
    list-style: none;
    display: inline-block;
    padding: 1rem;
    background: #fff;
    color: #1e1e1e;

    &:hover,
    &.active {
      // background: #fff;
      // color: $bgColor;
      background: #1e1e1e;
      color: #fff;
    }

  }

}

// === homePage ===
// === typography ===
.welcome {
  background-color: $bgColor;
  height: 100%;
  display: grid;

  & h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
  }

  & h3,
  & p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 1em;
    line-height: 1.8rem;
  }

  hr {
    width: 70%;
    height: 2px;
  }
}

.contact-info {
  margin: 1rem 0.5rem;
  align-self: end;
  font-size: 0.8rem;

  & small {
    padding: 1rem;
  }
}

.main {
  display: grid;


}

// ==== About ====
.about {
  margin: 1rem 2.5rem 0 2.5rem;
  background: #1e1e1e;

  & h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    text-align: center;
    padding: .5rem;

    align-self: center;
    justify-self: end;
  }

  p {
    width: 80%;
    margin: 2rem auto;
  }
}

// ==== Menu =====
.menu {
  background: #1e1e1e;
  margin: 1rem 2.5rem 0 2.5rem;


  & h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    text-decoration: underline #fff;
  }
}

.course {
  padding: 1rem;

  & p {
    font-style: italic;
  }

  & .ingredients {
    font-size: 0.8rem;
  }
}

// ==== Contact ====
.contact {
  background: #1e1e1e;
  margin: 1rem 2.5rem 0 2.5rem;

  & h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
  }


}

form {
  display: grid;
  grid-gap: 0.5rem;

  & input,
  textarea {
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    background: #ccc;
    border: none;
  }

  & textarea {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
  }

  & button {
    width: 5rem;
    justify-self: end;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    background: rgb(97, 97, 97);
    border: 1px solid rgb(97, 97, 97);
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #ccc;
      background: #1e1e1e;
    }
  }
}